@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.main {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/9134db96-10d6-4a64-a619-a21da22f8999/a449fabb-05e4-4c8a-b062-b0bec7d03085/IN-en-20240115-trifectadaily-perspective_alpha_website_large.jpg);
  zoom: 100%;
  background-position: center center;
  background-size: max(1200px, 100vw);
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* height: 70vh; */
  height: 100vh;
  position: relative;
}

.main .box {
  /* height: 70vh; */
  height: 100vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0;
  background-color: black;
}
nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 62px; */
  height: 100px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  /* height: calc(100% - 62px); */
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 20px;
  padding: 0 30px;
}

.hero > :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.sepration {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border-radius: 4px;
  border: 1px solid rgb(54, 53, 53);
  cursor: pointer;
}

button #language option {
  background-color: white;
  color: black;
  padding: 3px 8px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
}

#language select:hover {
  background-color: darkslategray;
}

select {
  background-color: black;
  color: white;
  padding: 3px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

select:hover {
  background-color: rgb(13, 13, 13);
}

select option {
  background-color: black;
  color: white;
}

select option:hover {
  background-color: rgb(0, 0, 0);
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}
.btn-red-sm {
  background-color: red;
  color: white;
}
.btn-red-sm a {
  background-color: red;
  color: white;
  text-decoration: none;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  color: white;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}

.secImg img {
  /* width: 642px; */
  width: 555px;
  position: relative;
  z-index: 10;
  height: 490px;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  /* width: 556px; */
  /* width: 555px;
  height: 412px; */
  width: 481px;
  height: 432px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}

.faq {
  background-color: black;
  color: white;
  padding: 34px;
  font-size: 24px;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.faqbox {
  transition: all 1s ease-out;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 74vw;
  margin: 34px auto;
  cursor: pointer;
}

.hero-2 {
  font-family: "Martel Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  /* height: calc(100% - 62px); */
  height: calc(100% - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  position: relative;
  gap: 10px;
  padding: 0 30px;
}

footer {
  color: rgba(255, 255, 255, 0.7);
  max-width: 80vw;
  margin: 50px auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: rgba(255, 255, 255, 0.7);
  padding: 34px;
}

@media screen and (max-width: 1200px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero > :nth-child(1) {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    text-align: center;
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
    padding: 75px 0;
  }

  .footer-item {
    align-items: center;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
}

footer .questions {
  margin: -25px 30px 1px 32px;
}

.footer a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
